* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f7f5ff;
    color: #252331;
    max-width: 700px;
    margin: auto;
    padding: 25px;
}

header {
    text-align: center;
    margin-bottom: 25px;
}

header h1 {
    font-size: 38px;
    letter-spacing: 2px;
}

header p {
    margin-top: 7px;
    color: #777;
}

.stats {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.stats div {
    flex: 1;
    background: white;
    padding: 18px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.06);
}

.stats strong {
    display: block;
    font-size: 22px;
}

.stats span {
    color: #777;
    font-size: 13px;
}

.menu {
    display: grid;
    gap: 14px;
}

.menu button {
    width: 100%;
    border: none;
    background: white;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0,0,0,0.06);
    font-size: 26px;
}

.menu button strong {
    display: block;
    margin-top: 5px;
    font-size: 20px;
}

.menu button small {
    display: block;
    margin-top: 5px;
    color: #777;
    font-size: 14px;
}

.menu button:hover {
    transform: translateY(-2px);
}

#content {
    margin-top: 25px;
    background: white;
    padding: 25px;
    border-radius: 20px;
}

#content h2 {
    margin-bottom: 10px;
}
